[submodule "Ansible-automations"]
	path = Ansible-automations
	url = git@github.com:axelcarapinha/Ansible-automations.git
[submodule "ProxyLinks"]
	path = ProxyLinks
	url = git@github.com:axelcarapinha/ProxyLinks.git
[submodule "Scripting"]
	path = Scripting
	url = git@github.com:axelcarapinha/Scripting.git
[submodule "ISTransferido"]
	path = ISTransferido
	url = git@github.com:axelcarapinha/ISTransferido.git
[submodule "RPA-adventures"]
	path = RPA-adventures
	url = git@github.com:axelcarapinha/RPA-adventures.git
